@tailwind base;
@tailwind components;
@tailwind utilities;

/* refer to https://www.nordtheme.com/docs/colors-and-palettes */
:root {
  --nord0: #2E3440;
  --nord1: #3B4252;
  --nord2: #434C5E;
  --nord3: #4C566A;

  --nord4: #D8DEE9;
  --nord5: #E5E9F0;
  --nord6: #ECEFF4;

  --nord7: #8FBCBB;
  --nord8: #88C0D0;
  --nord9: #81A1C1;
  --nord10: #5E81AC;

  --nord11: #BF616A;
  --nord12: #D08770;
  --nord13: #EBCB8B;
  --nord14: #A3BE8C;
  --nord15: #B48EAD;

  --font-family-customize: "lucida grande", "lucida sans unicode", lucida, helvetica,
  "Georgia", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

html, body, #app {
  height: 100%;
  background-color: var(--nord6);
  color: var(--nord3);
  font-family: var(--font-family-customize);
  transition: background-color .2s ease-in-out, color .2s ease-in-out;
  position: relative;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}